.my-post {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  margin-bottom: 21px;
}

.my-post:hover {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.accent-bar {
  height: 4px;
  width: 50px;
  background-color: #0d6efd;
  border-radius: 2px;
  margin-bottom: 10px;
}

.post-description {
  font-size: 18px;
  color: #333;
}

.card img,
.card video {
  border-radius: 10px;
}


.post-card {
  
  width: 100%;
  max-width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  overflow: hidden;
}

.post-card .card-body {
  display: flex;
  white-space: pre-wrap;
  flex-direction: column;
  justify-content: space-between;
  overflow-wrap: break-word;
  flex-grow: 1;
}

.post-card p {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.post-card img,
.post-card video {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.create-post-card:hover {
  background-color: #f0f8ff;
  transform: scale(1.02);
  transition: all 0.3s ease;
  border-color: #0d6efd;
}

.create-post-card i {
  transition: transform 0.3s ease;
}

.create-post-card:hover i {
  transform: rotate(10deg) scale(1.1);
}

.interaction-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #555;
}

.interaction-button.liked {
  color: #1890ff; /* or whatever color you want for liked */
}

.interaction-button:hover {
  opacity: 0.8;
}
